

<div class="container d-sm-inline-flex justify-content-between">
    <div>
    &copy; Indigo - <a asp-area="" asp-page="/PrivacyPolicy">Privacy Policy</a>
    </div>
    <partial class="flex-grow-1" name="_ThemeSelectorPartial" />
    <partial name="_LanguageSelectorPartial" />
</div>
