@using Microsoft.AspNetCore.Mvc.Localization;
<!DOCTYPE html>
<html lang="en" data-bs-theme="@(Context.Request.Cookies.ContainsKey("theme") ? Context.Request.Cookies["theme"] : "light")">
<head>
    <partial name="_CommonHeadPartial" />
</head>
<body>
    <div class="row mx-0 h-100 flex-nowrap">
        <div class="col-auto p-0 h-100">
            <partial name="_SideNavPartial" />
        </div>
        <div class="col px-0 h-100">
            <div class="h-100">
                <div class="container-fluid overflow-auto h-100 px-0">
                    <header>
                        <button class="btn navbar-toggler d-sm-none p-2 border-1 border rounded mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#sidenav" aria-expanded="true">
                            <span class="material-icons align-middle">menu</span>
                        </button>
                    </header>
                    <main class="mx-2 mx-md-4 h-100 py-3">
                        <partial name="_CookieConsentPartial" class="modal-dialog-centered" />
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
        <script>
            function updateSideNav(matches){
                const collapse = new bootstrap.Collapse($("#sidenav"), {
                    toggle: false
                });
                console.log("Hiding: " + matches);
                if (matches) {
                    collapse.show();
                }
                else {
                    collapse.hide();
                }
            }

            //Bootstrap's sm breakpoint
            const minQuery = window.matchMedia("(min-width: 576px)");
            minQuery.addEventListener("change", (ev) => {
                updateSideNav(ev.matches);
            });

            updateSideNav(minQuery.matches);
            
        </script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>