@using NewStreamSupporter;
@using NewStreamSupporter.Pages.Shared;

@{
    Layout = "/Pages/Shared/_Layout";
}

<div>
    @RenderBody()
</div>

@*
@{
    var subTitle = ViewData["SubTitle"];
    if (subTitle is string subTitleString)
    {
        ViewData["Title"] = subTitleString + " - Dashboard";
    }
    else
    {
        ViewData["Title"] = "Dashboard";
    }
}

<!DOCTYPE html>
<html lang="en" data-bs-theme="@(Context.Request.Cookies.ContainsKey("theme") ? Context.Request.Cookies["theme"] : "light")">
<head>
    <script src="~/js/jscolor.js"></script>
    <partial name="_CommonHeadPartial" />
    <script>
        jscolor.presets.ThemedPreset = {
            format: 'hexa'
        };
        if(GetTheme() == "dark"){
            jscolor.presets.ThemedPreset.backgroundColor = "#333333FF";
        }
        else {
            jscolor.presets.ThemedPreset.backgroundColor = "#FFFFFFFF";
        }
    </script>
</head>
<body>
    <partial name="_CommonHeaderPartial" />
    <div class="container">
        <h1>
            Welcome to your dashboard
        </h1>
        <h2>
            You can set up your widgets here
        </h2>
        <div class="flex-row d-md-flex">
            <div class="col-md-3">
                <div class="d-flex flex-column flex-shrink-0 p-3 flex-shrink-0 nav">
                    <ul id="navBarList" class="nav nav-pills flex-column mb-auto flex-grow-0">
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/Index">Overview</a>
                        </li>
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/Alert">Alert</a>
                        </li>
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/Reward/Index">Rewards</a>
                        </li>
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/Marquee/Index">Marquees</a>
                        </li>
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/Counter/Index">Counters</a>
                        </li>
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/DonationGoal/Index">Donation Goals</a>
                        </li>
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/Timer/Index">Timers</a>
                        </li>
                        <li class="nav-item" area-navbar>
                            <a class="nav-link" asp-area="Dashboard" asp-page="/Options">Options</a>
                        </li>
                    </ul>
                        <script>
                            const list = document.querySelectorAll("[area-navbar]")
                            for (var el of list) {
                                if ("@ViewData["SelectedSubArea"]" == el.firstElementChild.innerHTML) {
                                    el.firstElementChild.classList.add("active");
                                }
                            }
                    </script>
                </div>
            </div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted navbar position-absolute bottom-0 w-100">
        <partial name="_CommonFooterPartial" />
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
@await RenderSectionAsync("Scripts", required: false)
</html>
*@