@page
@model NewStreamSupporter.Areas.Dashboard.Pages.IndexModel

@{
    ViewData["SubArea"] = "Overview";
}

<div class="d-md-flex flex-md-row flex-column h-100">
    <div class="p-3 w-100 text-center">
        <h2>Rewards</h2>
        <div class="d-flex flex-column">
            @foreach (var purchase in Model.Purchases!)
            {
                <partial name="_PurchasePartial" model="purchase" />
            }
        </div>
    </div>
    <div class="vr d-md-inline d-none h-100"></div>
    <hr class="d-md-none" />
    <div class="p-3 w-100 text-center">
        <h2>Notifications</h2>
        <div class="d-flex flex-column">
            @foreach(var notification in Model.Notifications!)
            {
                <partial name="_NotificationPartial" model="notification" />
            }
        </div>
    </div>
</div>
<script>
//Suppress form resubmission dialog
if(window.history.replaceState){
    window.history.replaceState(null, null, window.location.href);
}
</script>