@page
@model NewStreamSupporter.Areas.Dashboard.Pages.DonationGoal.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DonationGoalModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DonationGoalModel.Id" />
            <input type="hidden" asp-for="DonationGoalModel.OwnerId" />
            <div class="form-group">
                <label asp-for="DonationGoalModel.Name" class="control-label"></label>
                <input asp-for="DonationGoalModel.Name" class="form-control" />
                <span asp-validation-for="DonationGoalModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationGoalModel.Text" class="control-label"></label>
                <input asp-for="DonationGoalModel.Text" class="form-control" />
                <span asp-validation-for="DonationGoalModel.Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationGoalModel.TargetAmount" class="control-label"></label>
                <input asp-for="DonationGoalModel.TargetAmount" class="form-control" />
                <span asp-validation-for="DonationGoalModel.TargetAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationGoalModel.CurrentAmount" class="control-label"></label>
                <input asp-for="DonationGoalModel.CurrentAmount" class="form-control" />
                <span asp-validation-for="DonationGoalModel.CurrentAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationGoalModel.BackgroundColor" class="control-label"></label>
                <br />
                <input class="form-control js-color" asp-for="DonationGoalModel.BackgroundColor" data-jscolor="{preset: 'ThemedPreset'}" />
                <span asp-validation-for="DonationGoalModel.BackgroundColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationGoalModel.FontColor" class="control-label"></label>
                <br />
                <input class="form-control js-color" asp-for="DonationGoalModel.FontColor" data-jscolor="{preset: 'ThemedPreset'}" />
                <span asp-validation-for="DonationGoalModel.FontColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationGoalModel.ExpiryDate" class="control-label"></label>
                <input asp-for="DonationGoalModel.ExpiryDate" type="date" value="@Model.DonationGoalModel.ExpiryDate.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="DonationGoalModel.ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
