@page
<h1>Unable to pair Google account</h1>
<p>
    The application wasn't able to successfully pair your account with Google. It is recommended you head to <a href="https://myaccount.google.com/connections">Google's 3rd party app management page</a> and remove this application. Keep in mind that you might also need to select the correct account to unpair the page from.

    You can also reach the same page by heading over to your Google settings (Manage your Google Account), choosing "Security" and then "See all connections" under the "Your connections to third-party apps &#38; services".
    
    Attempting to pair account with Google should function afterwards.
</p>