@page
@{
    ViewData["Title"] = "Home";
}

<h1 class="h1">
    Welcome to StreamSupporter!
</h1>
<p>
    This app serves as a way to create and use interactive widgets in your live streams. This application is designed to work with OBS Studio but any application that supports browser source with JavaScript should work.
    To start, create an account and then head over to your dashboard.
</p>