@page
@{
    ViewData["Title"] = "Home";
}

<h1 class="h1">
    Welcome to StreamSupporter!
</h1>
<p>
    This app serves as a way to create and use interactive widgets in your live streams. This application is designed to work with OBS Studio but any application that supports browser source with JavaScript should work.<br />
    On the left side navigation, you may navigate to different parts of the application. Account section is revealed when logged in and lets you change your account settings<br />
    The dashboard area is where you can set up different widgets to use in your streams. Make sure to enable the relevant services youll be using in <a asp-area="Dashboard" asp-page="/Options">Options</a> and pairing your account via <a asp-area="Identity" asp-page="/Account/Manage/ExternalLogins">External logins</a>!
</p>